prefer-workspace-packages=true
auto-install-peers=true
strict-peer-dependencies=false
legacy-peer-deps=false
enable-pre-post-scripts=true
ignore-scripts=false
only-built-dependencies=electron,esbuild,utf-8-validate,vue-demi
