# 优先使用pnpm，支持yarn
prefer-workspace-packages=true
auto-install-peers=true
strict-peer-dependencies=false
legacy-peer-deps=false

# Allow electron build scripts
enable-pre-post-scripts=true
ignore-scripts=false